body{
    height:100vh ; /*VH-- VIEWPORT HEIGHT*/
    width:100%;
    margin: 0px;
    background-color:#1b1b32;
    color: #f5f6f7;
}
label{
    display: block;
    margin: 0.5rem 0;
}
/*The rem unit stands for root em, 
and is relative to the font size of the html element.*/